%thead
  %tr
    %th
      %span.in-grey-600= t(:book)
    %th.col-method
    %th
      %span.in-grey-600= t(:price)
    %th
      %span.in-grey-600= t(:quantity)
    %th
      %span.in-grey-600= t(:total)