%main.container.general-main-wrap
  %h1.general-title-margin= t('.cart')
  #cart-wrapper
    - if @cart.total_quantity.positive?
      = render 'cart_full_info', cart: @cart, order_items: @order_items
    - else
      = t(:empty_cart)